
<br>
<br>
<br>


    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Health Dashboard</h1>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 portfolio-item">

                <h3>Steps</h3>
                <div id="step-chart" style="
                margin-top: -150px;
                margin-left: -150px;
                ">
                    <script type="text/javascript">
                        $(document).ready(function(){
                            var steps = new Raphael("step-chart");
                                steps.piechart(
                                    320, 
                                    240, 
                                    100, 
                                    <%= @user.data["steps"] %>,
                                    {
                                        legend: [
                                            "Steps Taken - <%= @stats.steps %>", 
                                            "Remaining - <%= @user.data["steps"][1] -1 %>"
                                            ],
                                        colors: ["#76FA11", "#1E8CFA"]
                                    });
                            });
                    </script>
                </div>
                <p><%= @stats.steps %> steps today.
                    <%if @goal.steps == 0 %>
                        You have no goal yet. <%= link_to "Set Goal", edit_goal_path(@goal) %>
                    <%else%>
                        <%= @goal.steps %> is your goal.
                        <%= number_to_percentage(@user.achievement.steps_percentage, precision: 0) %>Achievement
                    <%end%>
                </p>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item">
                <h3>Sleep</h3>
                <div id="sleep-chart" style="
                margin-top: -150px;
                margin-left: -150px;
                ">
                    <script type="text/javascript">
                        $(document).ready(function(){
                            var sleep = new Raphael("sleep-chart");
                                sleep.piechart(
                                    320, 
                                    240, 
                                    100, 
                                    <%= @user.data["sleep"] %>,
                                    {
                                        legend: [
                                            "Sleep last night - <%= @stats.sleep %>", 
                                            "Remaining - <%= @user.data["sleep"][1] %>"
                                            ],
                                        colors: ["#76FA11", "#1E8CFA"]
                                    });
                            });
                    </script>
                </div>
                <p><%= @stats.sleep %> hours of sleep last night.
                    <%if @no_sleep_goal%>
                        You have no goal yet. <%= link_to "Set Goal", edit_goal_path(@goal) %>
                    <%else%>
                        <%= @goal.sleep %> hours is your goal.
                        <%= number_to_percentage(@user.achievement.sleep_percentage, precision: 0) %>Achvievement. 
                    <%end%>
                </p>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 portfolio-item">
                <h3>Food</h3>
                <div id="food-chart" style="
                margin-top: -150px;
                margin-left: -150px;
                ">

                <script type="text/javascript">
                        $(document).ready(function(){
                            var food = new Raphael("food-chart");
                                food.barchart(
                                    320, 
                                    240, 
                                    100,
                                    100, 
                                    [<%= @user.food_goal_data %>],
                                    {});
                            });
                </script>
                </div>
                <p>A Summary of your total nutritional intake for today.</p>
                    <h4><p id='add-food-button'><%= link_to "Add Food", foods_path %></p></h4>
                    <%= render partial: 'foods/daily_total' %>
                
            </div>


        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->

