
<br>
<br>
<br>


    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Health Dashboard</h1>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 portfolio-item">
                <h3>Steps</h3>
                <p>Steps: <%= @stats.steps %> steps today. 
                    <%if @goal.steps == 0 %>
                        You have no goal yet. <%= link_to "Set Goal", edit_goal_path(@goal) %>
                    <%else%>
                        Your goal is <%= @goal.steps %> steps.
                    <%end%>
                </p>
                <a href="#project-one">
                    <div class="main-stat">
                        <h1>
                            <%if @no_steps_goal%>
                                <%= link_to "Add Goal", edit_goal_path(@goal) %>
                            <%else%>
                                <%= number_to_percentage(@user.achievement.steps_percentage, precision: 0) %>
                            <%end%>
                        </h1>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item">
                <h3>Sleep</h3>
                <p>Sleep: <%= @stats.sleep %> hours last night. 
                    <%if @no_sleep_goal%>
                        You have no goal yet. <%= link_to "Set Goal", edit_goal_path(@goal) %>
                    <%else%>
                        Your goal is <%= @goal.sleep %> hours.
                    <%end%>
                </p>
                <a href="#project-two">
                    <div class="main-stat">
                        <h1>
                            <%if @goal.sleep == 0 %>
                                <%= link_to "Add Goal", edit_goal_path(@goal) %>
                            <%else%>
                                <%= number_to_percentage(@user.achievement.sleep_percentage, precision: 0) %>
                            <%end%>
                        </h1>
                    </div>
                </a>

            </div>

        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 portfolio-item">
                <h3>Food</h3>
                <p>A Summary of your total nutritional intake for today.</p>
                <a href="#project-three">
                    <div class="main-stat">
                        <h4><p id='add-food-button'><%= link_to "Add Food", foods_path %></p></h4>
                        <%= render partial: 'foods/daily_total' %>
                    </div>
                </a>
                
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item">
                <h3>Water</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#project-four">
                    <div class="main-stat">
                        <h4>Did you drink enough water today?</h4>
                        </br>
                        <button onclick="alert('YAY! Good for you!');">Yes :-)</button>
                        <button onclick="alert('Oh no! Drink more water!');">No  :-(</button>
                    </div>
                </a>
            </div>

        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

