<div class="container">
  <div class="row">
    <div class="col-lg-12" id="dashboard-header">
      <h1>Health Dashboard <span id="title-name">for <%= current_user.name %></span></h1>
      <h4><span id="goal">Goal</span> vs. <span id="actual">Actual</span></h4>
      <p id="hr"></p>
    </div>
  </div>
  
<!-- content_for -->
  <div class="row">
    <div class="col-lg-6 col-md-6 portfolio-item">
      <h3>Steps</h3>
      <div id="step-chart">
        <script type="text/javascript">
          $(document).ready(function(){
            var steps_array = <%= @user.steps_array %>;
            var colors = function(steps_array){
              if(steps_array[0] > steps_array[1]){
                return ["#76FA11", "#1E8CFA"];
              }else{
                return ["#1E8CFA", "#76FA11"];
              };
            };
            var steps = new Raphael("step-chart");
              steps.piechart(
                320, 
                240, 
                70, 
                steps_array,
                {
                  legend: [
                    "Steps Taken - <%= @stats.steps %>", 
                    "Remaining - <%= @user.steps_array[1].round(0) %>"
                  ],
                  colors: colors(steps_array)
                });
            });
        </script>
      </div>
      <p><span class="stat"><%= @stats.steps %></span> steps today.
        <%if @goal.steps == 0 %>
          <span class="no-goal-set">You have no goal yet. </span><%= link_to "Set Goal", edit_goal_path(@goal) %>
        <%else%>
          <span class="stat"><%= @goal.steps %></span> is your <%= link_to 'goal', edit_goal_path(@goal) %>.
          <span class="stat"><%= number_to_percentage(@user.achievement.steps_percentage, precision: 0) %></span> Achievement.
        <%end%>
      </p>
    </div>

    <div class="col-lg-6 col-md-6 portfolio-item">
      <h3>Sleep</h3>
        <div id="sleep-chart">
          <script type="text/javascript">
            $(document).ready(function(){
              var sleep_array = <%= @user.sleep_array %>;
              var colors = function(sleep_array){
                if(sleep_array[0] > sleep_array[1]){
                  return ["#76FA11", "#1E8CFA"];
                }else{
                  return ["#1E8CFA", "#76FA11"];
                };
              };
              var sleep = new Raphael("sleep-chart");
              sleep.piechart(
                320, 
                240, 
                70, 
                sleep_array,
                {
                  legend: [
                    "Sleep last night - <%= @stats.sleep_pretty %>", 
                    "Short of Goal - <%= @user.achievement.sleep_short_pretty %>"
                  ],
                colors: colors(sleep_array)
              });
            });
          </script>
        </div>
        <p><span class="stat"><%= @stats.sleep_pretty %></span> of sleep last night.
          <%if @goal.sleep == 0 %>
            <span class="no-goal-set">You have no goal yet. </span> <%= link_to "Set Goal", edit_goal_path(@goal) %>
          <%else%>
            <span class="stat"><%= @goal.sleep %></span> hours is your <%= link_to 'goal', edit_goal_path(@goal) %>.
            <span class="stat"><%= number_to_percentage(@user.achievement.sleep_percentage, precision: 0) %></span> Achievement. 
          <%end%>
        </p>
    </div>
  </div>
  <p id="hr"></p>
        

  <div class="row">

    <div class="col-lg-6 col-md-6 portfolio-item">
      <h3>Nutrition</h3>
      <canvas id="food-chart" width="500" height="200">
        <script type="text/javascript">
          $(document).ready(function(){
            var data = {
              labels : ["Carbs", "Fat", "Protein", "Fiber"],
              datasets : [
                {
                  fillColor : "rgba(30,140,250,0.9)",
                  strokeColor : "rgba(220,220,220,1)",
                  data : <%= @user.food_goals_array %>
                },
                {
                  fillColor : "rgba(118,250,17, 0.9)",
                  strokeColor : "rgba(151,187,205,1)",
                  data : <%= @user.food_eaten_array %>                                    }
              ]
            }
            var ctx = document.getElementById("food-chart").getContext("2d");
            var myNewChart = new Chart(ctx).Bar(data);
          });
        </script>
      </canvas>
             
    </div>

    <div class="col-lg-6 col-md-6 portfolio-item">
        <h3>Calories</h3>
        <canvas id="calorie-chart" width="500" height="200">
          <script type="text/javascript">
            $(document).ready(function(){
              var data = {
                labels : ["Calories"],
                datasets : [
                  {
                    fillColor : "rgba(30,140,250,0.9)",
                    strokeColor : "rgba(220,220,220,1)",
                    data : [<%= @goal.calories %>]
                  },
                  {
                    fillColor : "rgba(118,250,17, 0.9)",
                    strokeColor : "rgba(151,187,205,1)",
                    data : [<%= @user.calorie_total_for(Date.today) %>]
                  }
                ]
              }
              var ctx = document.getElementById("calorie-chart").getContext("2d");
              var myNewChart = new Chart(ctx).Bar(data, { 
                  barValueSpacing : 150,
                  scaleOverride : true,
                  scaleSteps : 10,
                  scaleStepWidth : <%= @goal.calories / 5 %>,
                  scaleStartValue : 0
              });
            });
          </script>
        </canvas>
    </div>
  </div>
<div id="today-food">
  <h3>Today's foods <span style="font-size: 18px">(<%= link_to "Add Food", foods_path, id:"add-food-button" %>)</span></h3>
      <%= render partial: 'foods/food' %>
  </div> 
</div>
    <!-- /.container -->

    <!-- JavaScript -->

