<br>
<br>
<br>
<br>


<div class="container">
  <h2>Weekly Stats for <%= @user.name %></h2> 
  <%= link_to 'View Goal', goal_path(@goal.id) %>
  <div class="row">
    <div class="col-lg-3 col-md-3">

      <%= render partial: 'foods/daily_total' %> 
    </div>

    <div class="col-lg-6 col-md-6">
      <canvas id="history-chart" width="600" height="300">
        <script type="text/javascript">
          $(document).ready(function(){
            var data = {
              labels : <%= @user.achievement.last_seven_day_labels.inspect.html_safe %>,
              datasets : [
                {
                  strokeColor : "rgba(123,300,123,1)",
                  pointColor : "rgba(220,220,220,1)",
                  pointStrokeColor : "#fff",
                  data : <%= @user.achievement.calorie_weekly_percent %>
                },
                {
                  strokeColor : "rgba(200,300,20,1)",
                  pointColor : "rgba(220,220,220,1)",
                  pointStrokeColor : "#fff",
                  data : <%= @user.achievement.protein_weekly_percent %>
                },
                {
                  strokeColor : "rgba(12,226,250,1)",
                  pointColor : "rgba(220,220,220,1)",
                  pointStrokeColor : "#fff",
                  data : <%= @user.achievement.fiber_weekly_percent %>
                },
                {
                  strokeColor : "rgba(250,28,12,1)",
                  pointColor : "rgba(220,220,220,1)",
                  pointStrokeColor : "#fff",
                  data : <%= @user.achievement.fat_weekly_percent %>
                },
                 {
                  strokeColor : "rgba(159,110,246,1)",
                  pointColor : "rgba(220,220,220,1)",
                  pointStrokeColor : "#fff",
                  data : <%= @user.achievement.carbs_weekly_percent %>
                }
              ]
            };
            var ctx = document.getElementById("history-chart").getContext("2d");
            var myNewChart = new Chart(ctx).Line(data, {
              datasetFill : false,
              datasetStrokeWidth : 5
            });
          });
        </script>
      </canvas>
    </div>
  </div>
</div>
