<p><%= @food.name %></p>
<%= form_for :food, url: food_path(@food.id), method: "put" do |f|%>
<%= f.label :serving_size %>
<%= select_tag(:serving_size, options_for_select(@food.servings_array)) %>
<%= f.label :quantity %>
<% qty_array = 100.times.map { |i| [i, i] } %>
<%= select_tag(:quantity, options_for_select(qty_array, 1)) %>
<%= f.submit "Submit" %>
<% end %>
