<h1><%= @user.name %>'s Goals</h1>

<%= form_for(@goal) do |f| %>
  <%= f.label :steps %>:
  <%= f.text_field :steps %><br />

  <%= f.label :sleep %>:
  <%= f.text_field :sleep %><br />

  <%= f.label :calories %>:
  <%= f.text_field :calories %><br />

  <%= f.label :carbohydrates %>:
  <%= f.text_field :carbohydrates %><br />

  <%= f.label :fat %>:
  <%= f.text_field :fat %><br />

  <%= f.label :protein %>:
  <%= f.text_field :protein %><br />

  <%= f.submit %>
<% end %>
