<div class="current-goal">
  <p>Steps: <%= @goal.steps %></p>
  <p>Sleep: <%= @goal.sleep %> minutes</p>
  <p>Calories: <%= @goal.calories %></p>
  <p>Carbohydrates: <%= @goal.carbohydrates %> grams</p>
  <p>Fat: <%= @goal.fat %> grams</p>
  <p>Protein: <%= @goal.protein %> grams</p>
  <p>Fiber: <%= @goal.fiber %> grams</p>
    <%= link_to "Edit Goals", edit_goal_path(@goal) %>
  <p> <%= link_to "Home", root_path %> </p>
</div>
